<li class="list-group-item">
  <div class="row">
    <div class="col-xs-4">
      <label for="input1">Name</label>
      <input type="text" id="input1" name="input1" class="form-control left" ngModel>
    </div>
    <div class="col-xs-8">
      <label for="input2">URL</label>
      <input type="text" id="input2" name="input2" class="form-control" ngModel>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <button class="btn btn-warning pull-right">
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>
  </div>
</li>