<h3>{{ isEditMode ? 'Edit User #'+ editedUser.id : 'Add New User'}}</h3>
<br><br><br>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="name" class="for">Name</label>
    <input type="text" id="name" name="name" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="surname" class="for">Surname</label>
    <input type="text" id="surname" name="surname" class="form-control" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">{{isEditMode ? 'Save' : 'Add'}}</button>
  <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
</form>


<hr>
<h3 class="text-center">User Bookmarks</h3>
<div class="row bookmarks-list">
  <div class="col-xs-12">
    <ul>
      <app-bookmark-item *ngFor="let bookmark of bookmarksArray"></app-bookmark-item>
    </ul>
  </div>
</div>
