<a (click)="onUserSelect()">
  <div class="row">
    <div class="col-xs-12">
      <li class="list-group-item">
        #{{user.id}} {{user.name + '' + user.surname}}
        <button type="button" class="btn btn-warning pull-right clearfix" (click)="onUserEdit()">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button type="button" class="btn btn-danger pull-right clearfix" (click)="onUserDelete()">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </li>
    </div>
  </div>
</a>